!!!
head
  title My Vietnamese Name - vietna.me
  script(src='script.js')
  link(rel='stylesheet', type='text/css', href='style.css')
body
  h1 vietna.me
  p What's your Vietnamese name?
  form#source_name
    input(type='text', name='surname')
    input(type='submit', value='Go!')
  ul#result
